.RecipeDetailContainer {
    display: flex;
    margin: 2em;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: var(--color-font);
}

.Detail {
    width: 50%;
    padding: 2em;
    border-radius: 5px;
    background-color: var(--color-form-bg);
}

.DetailHeader {
    display: inline;
}

.DetailInfo {
    margin-top: 1em;
}

.DetailIngredientDiv {
    margin: 1em 0em;
    
}

.DetailIngredients {
    padding: 1em;
    background-color: var(--color-form-input);
    border: 1px solid var(--color-form-border);
    border-radius: 5px;
}

.DetailMetaTime {
    font-size: small;
}

.DetailCategories {
    display: inline;
}

.DetailCategories span {
    margin-left: 1em;
    padding: 0.4em;
    border: 2px solid var(--color-form-border);
    border-radius: 20px;
    background: var(--color-form-bg);
    color: var(--color-categories);

}

.DetailCategories span:hover {
    cursor: pointer;
    color: var(--color-categories-hover);
    background-color: var(--color-categories-hover);
}

.DetailTags {
    font-style: italic;
    color: var(--color-tags);
}

.DetailTags span:hover {
    cursor: pointer;
    color: var(--color-tags-hover)
}

#RecipeDetailTitle {
    display: inline;
}

.Favorite {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -2em;
}

.FavoriteContainer {
    position: relative;
}