* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, monospace;

  /* color scheme */
  --color-font-title: #ff054b;
  --color-font-title-hover: #bb054b;
  --color-body-bg: #0d1117;
  --color-bg: #161b22;
  --color-font: #B6E3FF;
  --color-font-hover: #93c1ff;


  --color-button: #26a641;
  --color-button-active: #006d32;
  
  --color-button-edit: #2222bb;
  --color-button-border: #bbbbbb;
  --color-button-edit-hover: #000099;

  --color-button-delete: #cc033b;
  --color-button-delete-hover: #aa003b;
  
  --color-form-bg: #161b22;
  --color-form-label: #b6e3ff;
  --color-form-input: #0d1117;
  --color-form-border: #57606a;

  --color-tags: #54AEFF;
  --color-tags-hover: #328cdd;
  --color-categories: #57606A;
  --color-categories-hover: #354048;

  --color-favorite-bg: #ffffff;
  --color-favorite-star: #fddf68;
  --color-favorite-border: #fddf68;
  --color-favorite-hover: #aaaaaa;


  --color-unfavorite-border: #555555;
  --color-unfavorite-bg: #555555;
  --color-unfavorite-star: #555555;
  --color-unfavorite-hover: #354048;
}

body {
  background-color: var(--color-body-bg);
  min-height: 700px;
  margin-bottom: 100px;
}

.LoadingScreen {
  color:white;
  text-align: center;
}